/* :root{
  
} */

.serviceContainerDiv {
  height: 75vh;
  background: #242424;
  box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.45);
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1% 2%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.servicesContainer {
  display: flex;
  gap: 10px;
  height: 50vh;
  z-index: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
}
.headerDivTitle {
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end);
}
.headerDivText {
  font-weight: 400;
  font-size: 24px;
  width: 70%;
  color: #898989;
}

/*  typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.headerDivText {
  font-weight: 400;
  font-size: 24px;
  width: 70%;
  color: #898989;
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* the card styles */

.cardDiv {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 426.67px;
  max-height: 480px;
  min-width: 20%;
  min-height: 60%;
  padding: 20px 40px;
  gap: 10px;
  height: 320px;
  width: 130px;
  background: #ffffff;
  border-radius: 60px;
  flex-grow: 0.3;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.cardIconDiv {
  max-width: 128px;
  max-height: 158px;
  border-radius: 42%;
  width: 90px;
  height: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardIconDiv > * {
  margin-top: -4%;
}
.cartTitle {
  color: #343434;
  font-weight: 700;
}
.cardP {
  color: #747474;
}

.cardDiv:hover .cartTitle,
.cardDiv:hover .cardP {
  color: #ffffff;
  transition: color 0.8s ease-in-out;
}

.arrowIcon {
  stroke: #343434;
  stroke-width: 4;
}

.cardDiv:hover .arrowIcon path {
  stroke: #ffffff;
  transition: stroke 0.8s ease-in-out;
}

.cardDiv:hover > .cardIconDiv {
  background-color: rgba(255, 255, 255, 0.2) !important;
  transition: background-color 1s;
}
/* firstCardStyles */
.firstCardStyles > .cardIconDiv {
  background: rgba(83, 144, 255, 0.2);
}
.firstCardStyles {
  border-bottom: 10px solid #a700ee;
 } 
.firstCardStyles.mouseHover {
  border-bottom: 10px solid #ffffff;
  transition: border-bottom 1s;
}
.firstCardStyles.mouseHover ::before {
  border-radius: 60px;
  order: 0;
  flex-grow: 0.3;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-bottom: 10px solid #ffffff;
  transition: border-bottom 1s ease-in-out;
  content: "";
  position: absolute;
  background-color: #a700ee !important;
  z-index: -1;
  top: 10%;
  left: 10%;
  width: 0%;
  height: 0%;
  border-radius: 40px;
  animation: animate1 1s forwards ease-out;
}
.firstCardStyles.mouseUnHover ::after {
  border-radius: 60px;
  order: 0;
  flex-grow: 0.3;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-bottom: 10px solid #ffffff;
  transition: border-bottom 1s ease-in-out;
  content: "";
  position: absolute;
  background-color: #a700ee !important;
  z-index: -1;
  top: 10%;
  left: 10%;
  width: 0%;
  height: 0%;
  border-radius: 40px;
  animation: animate1 0.5s reverse ease-out;
}
@keyframes animate1 {
  0% {
    top: 15%;
    left: 15%;
    width: 5%;
    height: 5%;
  }
  100% {
    top: -15%;
    left: -15%;
    width: 120%;
    height: 120%;
  }
}
/* primaryCareCard */

.secondCardStyles > .cardIconDiv {
  background: rgba(107, 198, 181, 0.2);
}
.secondCardStyles.mouseUnHover {
  border-bottom: 10px solid #c4dc5e;
}

.secondCardStyles.mouseHover {
  border-bottom: 10px solid #ffffff;
  transition: border-bottom 1s;
}
.secondCardStyles.mouseHover ::before {
  border-bottom: 10px solid #ffffff;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #c4dc5e !important;
  left: 0%;
  animation: rotateingFilling 0.65s forwards ease-in-out;
  z-index: -1;
  border-radius: 60px;
  border-bottom: 10px solid #ffffff;

}

.secondCardStyles.mouseUnHover::after {
  border-bottom: 10px solid #c4dc5e;
  content:"";
  position:absolute;
  height: 100%;
  width:100%;
  z-index:-1;
  border-radius:60px;
  border-bottom: 10px solid #ffffff;

  animation: rotateingFillingReverse 0.65s ease-in-out reverse;
}

@keyframes rotateingFilling {
  from {
    border-bottom: 10px solid #ffffff;
    top: 100%;
    transform: rotate(270deg);

  }
  to {
    border-bottom: 10px solid #ffffff;
    top: 0%;
    transform: rotate(360deg);

  }
}

@keyframes rotateingFillingReverse {
  from {
    border-bottom: 10px solid #ffffff;
    top: 200%;
    transform: rotate(270deg);
    background-color: #c4dc5e;
  }
  to {
    border-bottom: 10px solid #ffffff;
    top: 0%;
    left: 0%;
    transform: rotate(360deg);
    background-color: #c4dc5e;
  }
}

/* thirdCardStyles */
.thirdCardStyles:hover .cartTitle {
  color: #ffffff;
  transition: color 1.5s ease-in-out !important;
}
.thirdCardStyles > .cardIconDiv {
  background: rgba(210, 141, 185, 0.2);
}

.thirdCardStyles:hover .cardP {
  color: #ffffff;
  transition: color 1.5s ease-in-out !important;
}

.thirdCardStyles {
  background: #ffffff;
  border-bottom: 10px solid #1426cb;
}

.thirdCardStyles.mouseHover {
  background: #1426cb;
  border-bottom: 10px solid #ffffff;
}

.thirdCardStyles.mouseHover::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: -50%;
  height: 200%;
  width: 200%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 40%;
  z-index: -1;
  animation: fluidFillsimulation 1.5s forwards;
}


.thirdCardStyles.mouseUnHover ::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: -50%;
  height: 200%;
  width: 200%;
  background: #1426cb;
  box-sizing: border-box;
  border-radius: 40%;
  z-index: -1;
  animation: fluidFillsimulationReversed 1.5s forwards;
}

@keyframes fluidFillsimulation {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(180deg);
  }
}

@keyframes fluidFillsimulationReversed {

  from {
    background: #1426cb;
    transform: translateY(0%) rotate(180deg);
  }

  to {
    background: #ffffff;
    transform: translateY(100%) rotate(0deg);
  }
}
